body {
	background: #5d7071 url(../images/tlo.png);
    padding-top: 70px; /* wymagany padding do .navbar-fixed-top*/
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* wymagany padding do .navbar-fixed-top*/
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

@media only screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.panel,.panel-heading {
  	border-radius:0;
  	border-width:0;
}

.panel-heading {
	color: #FFFFFF;
}

.latest-wrapping {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     
   max-height: 64px;      
   -webkit-line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.popular-wrapping {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     
   max-height: 32px;      
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}
 
#comments li {
    list-style: none;
    padding-left: 13px;
}

li [class^="pull-right"] {
    padding-top: 7px !important;
    margin-right: 15px;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.nav-pills > li > a {
  border-radius: 0px !important;
}

.nav-pills > .active > a > .badge {
  color: #94c1e8;
  background-color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #334d63 !important;
}